/.vs/ZaakDocumentDragAndDrop/v15
/.vs/ZaakDocumentManager/v15/*.suo
/ZaakDocumentDragAndDrop/bin/Debug
/ZaakDocumentDragAndDrop/bin/Release
/ZaakDocumentDragAndDrop/obj/Debug
/ZaakDocumentDragAndDrop/obj/Release
